name: 'C++ CI'

on:
  push:
    branches:
      - master
      - feature/github_actions

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake build-essential doxygen
      
      - name: Configure CMake
        run: cmake -B build -DPATCH_VERSION=${{ github.run_number }}

      - name: Build project
        run: cmake --build build

      - name: Run main application
        run: |
          cd build
          ./editor

      - name: Create package
        run: cmake --build build --target package

      - name: Create Release
        if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/feature/github_actions')
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v0.0.${{ github.run_number }}
          release_name: Release v0.0.${{ github.run_number }}
          draft: false
          prerelease: false

      - name: Rename package
        run: |
          cd build
          mv editor-0.0.${{ github.run_number }}-Linux.deb editor.deb

      - name: Upload Release Asset
        if: steps.create_release.outputs.id != ''
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/editor.deb
          asset_name: editor.deb
          asset_content_type: application/vnd.debian.binary-package
